@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+Thai+Looped:wght@400;700&display=swap');

/*------------------------------------*\ #GLOBAL SETTINGS \*------------------------------------*/

html {
     box-sizing: border-box;
}
 body {
     margin: 0;
     font-size: 1.2rem;
     color: #212529;
     padding-top: 3.5rem;
     font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
 p {
     line-height: 1.5;
     margin: 30px 0;
}
 p a {
     text-decoration: underline;
}
 h1, h2, h3, h4, h5, h6 {
     font-weight: 800;
     font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
 a {
     color: #212529;
     transition: all 0.2s;
}
 a:focus, a:hover {
     color: #0085A1;
}
 blockquote {
     font-style: italic;
     color: #868e96;
}
 .section-heading {
     font-size: 2.25rem;
     font-weight: 700;
     margin-top: 60px;
}
 .caption {
     font-size: 0.875rem;
     font-style: italic;
     display: block;
     margin: 0;
     padding: 10px;
     text-align: center;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
}
 .commentList {
     padding: 0;
     list-style: none;
}
 .commentList li {
     display: flex;
     align-items: flex-start;
     margin: 0;
     margin-top: 10px;
}
 .commenterImage {
     width: 30px;
     margin-right: 10px;
     flex-shrink: 0;
}
 .commenterImage i {
     width: 100%;
     border-radius: 50%;
}
 .commentText {
    flex-grow: 1;
 }
 .commentText p {
     margin: 0;
}
 .comment-meta {
    text-align: right;
    margin-top: 10px;
 }
 .upload-meta {
     text-align: right;
 }
 .sub-text {
     color: #aaa;
     font-family: 'IBM Plex Sans Thai Looped', sans-serif;
     font-size: 0.6875rem;
}
 .btn {
     font-size: 0.625rem;
     font-weight: 800;
     padding: 15px 25px;
     letter-spacing: 1px;
     text-transform: uppercase;
     border-radius: 0;
     font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
 .btn-primary {
     background-color: #0085A1;
     border-color: #0085A1;
}
 .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
     color: #fff;
     background-color: #00657b !important;
     border-color: #00657b !important;
}
 .btn-lg {
     font-size: 1rem;
     padding: 25px 35px;
}
 .flash-warning {
     color: red;
}
 .small-image {
     max-height: 100px;
     max-width: 100px
}
 .signup-text {
     font-size: 1rem;
}
 .display-2 {
     margin-top: 4rem;
}
 .login {
     margin-top: 8rem;
}
 .register {
     margin-top: 8rem;
}
 .card-margin {
     margin: 0;
}
.quote-text {
    margin-top: 1rem;
    font-size: 1rem;
}
.long-quote {
     font-size: 0.8rem;
}
.quote-author {
    margin-left: 5px;
    font-size: 1rem;
    font-style: italic;
}
/*------------------------------------*\ #JUMBOTRON \*------------------------------------*/
 .jumbotron {
     background-size: cover;
     min-height: 300px;
     display: flex;
     align-items: center;
     color: white;
     text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
 .main-jumbotron {
     background-image: url("/static/img/background.jpg");
}
 .login-jumbotron {
     background: url("/static/img/login.jpg") no-repeat center center;
}
 .signup-jumbotron {
     background: url("/static/img/signup.jpg") no-repeat center center;
}
 .write-jumbotron {
     background: url("/static/img/create.jpg") no-repeat center center;
}
 .profile-jumbotron {
     background: url("/static/img/signup.jpg") no-repeat center center;
     background-size: cover;
}
/*------------------------------------*\ #FOOTER \*------------------------------------*/
 footer {
     padding: 50px 0 65px;
}
 footer .list-inline {
     margin: 0;
     padding: 0;
}
 footer .copyright {
     font-size: 0.875rem;
     margin-bottom: 0;
     text-align: center;
}
/*------------------------------------*\ #403, 404, 500, ERRORS \*------------------------------------*/
 .error-template {
     padding: 40px 15px;
     text-align: center;
}
 .error-actions {
     margin-top: 15px;
     margin-bottom: 15px;
}
 .error-actions .btn {
     margin-right: 10px;
}
/*------------------------------------*\ #MEDIA QUERIES \*------------------------------------*/
 @media screen and (max-width: 992px) {
     .display-2 {
         margin-top: 2rem;
    }
}
 @media screen and (max-width: 768px) {
     .display-2 {
         margin-top: 4rem;
    }
    .navbar-nav .d-flex {
        flex-direction: column;
    }
    .navbar-nav .d-flex .btn {
        margin-top: 0.5rem;
        margin-left: 0 !important;
    }
}
 @media screen and (max-width: 576px) {
     .display-2 {
         font-size: 3rem;
         margin-top: 4rem;
    }
     .login {
         margin-top: 8rem;
    }
     .register {
         margin-top: 8rem;
    }
     .profile-name {
         margin-top: 3rem;
         font-size: 1rem;
    }
     .your-posts-header {
         font-size: 1.2rem;
    }
     .table-row {
         font-size: 1rem;
    }
     .table-text {
         font-size: 0.8rem;
    }
     .btn {
         font-size: 0.6rem;
         text-transform: uppercase;
         border-radius: 10px;
     font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    }
     header.masthead .post-heading h1 {
         font-size: 2.2rem;
    }
     .post-preview > a > .post-title {
         font-size: 2.25rem;
    }
     .create-post-heading {
         margin-top: 8rem;
    }
     .search-button-margin {
         margin-bottom: 10px;
    }
     .quote-text {
         margin-top: 1rem;
         font-size: 0.8rem;
     }
     .long-quote {
         font-size: 0.6rem;
     }
     .quote-author {
         margin-left: 5px;
         font-size: 0.8rem;
         font-style: italic;
     }
}

/*------------------------------------*\
 #RESPONSIVE IMAGES
\*------------------------------------*/

/* Make sure images in post content are responsive */
article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

/*------------------------------------*\
 #COPY CODE BUTTON
\*------------------------------------*/
.highlight {
    position: relative;
}

.copy-code-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.copy-code-button:hover {
    background-color: #ddd;
}
